[Desktop Entry]
Type=Application
Name=Pome
Comment=iCloud Drive for your Linux desktop
Exec=pome
Icon=io.github.gabrielpalassi.pome
Terminal=false
Categories=Utility;
StartupNotify=false
